@charset "UTF-8";
/**
 * 
 * @authors dkplus (dkplus@qq.com)
 * @date    2017-07-22 21:30:36
 * @version $1.0$
 *
 * 兼容html5
 *重置页面的默认样式
 *去除列表和锚文本的装饰
 *清除浮动元素
 */
article, aside, figure, figcaption,  footer, header, main, nav, section, summary{
	display: block;
}
body, div, dt, dl, dd, ul, ol, li, h1, h2, h3, h4, h5, input, form, a, p, textarea{
	margin: 0;
	padding: 0;
	font-family: '微软雅黑', consolas;
}
ol, ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
img{
	border: none;
	display: block;
}
.clearfloat{
	zoom: 1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}